<p class="voltar"><- Voltar</p>
<div id="cardsCriar">
  <div class="card">
    <img class="icon" src="/images/predio_icon.png"/>
    <div class="cardText">
      <p>Local</p>
      <small>10 locais</small>
    </div>
  </div>
   <div class="card">
    <img class="icon" src="/images/list_icon.png"/>
    <div class="cardText">
      <p>Tipos de Chamado</p>
      <small>3 tipos de chamado</small>
    </div>
  </div>
  <div class="card tipo-perfil-card">
    <img class="icon tipo-perfil" src="/images/users_icon.png"/>
    <div class="cardText tipo-perfil-text">
      <p>Tipos de Perfil</p>
      <small>3 tipos de perfil</small>
    </div>
  </div>
  <div class="card">
    <img class="icon" src="/images/user_icon.png"/>
    <div class="cardText">
      <p>Perfil</p>
      <small>1000 perfis</small>
    </div>
  </div>
   <div class="card">
    <img class="icon" src="/images/pc_icon.png"/>
    <div class="cardText">
      <p>Tipo de Equipamento</p>
      <small>4 tipos de equipamento</small>
    </div>
  </div>
  <div class="card">
    <img class="icon" src="/images/pc_icon.png"/>
    <div class="cardText">
      <p>Equipamento</p>
      <small>200 equipamentos</small>
    </div>
  </div>
  <div class="card">
    <img class="icon departamento" src="/images/predio2_icon.png"/>
    <div class="cardText">
      <p>Departamento</p>
      <small>4 departamentos</small>
    </div>
  </div>
</div>
