<p class="voltar"><- Voltar</p>
<div id="cardsCriar">
  <div class="card">
    <img class="icon" src="../../../../public/images/predio_icon.png"/>
    <div class="cardContent">
      <p>Local</p>
      <small>10 locais</small>
    </div>
  </div>
   <div class="card">
    <img class="icon" src="../../../../public/images/list_icon.png"/>
    <div class="cardContent">
      <p>Tipos de Chamado</p>
      <small>3 tipos de chamado</small>
    </div>
  </div>
  <div class="card">
    <img class="icon" src="../../../../public/images/users_icon.png"/>
    <div class="cardContent">
      <p>Tipos de Perfil</p>
      <small>3 tipos de perfil</small>
    </div>
  </div>
  <div class="card">
    <img class="icon" src="../../../../public/images/user_icon.png"/>
    <div class="cardContent">
      <p>Perfil</p>
      <small>1000 perfis</small>
    </div>
  </div>
   <div class="card">
    <img class="icon" src="../../../../public/images/pc_icon.png"/>
    <div class="cardContent">
      <p>Tipo de Equipamento</p>
      <small>4 tipos de equipamento</small>
    </div>
  </div>
  <div class="card">
    <img class="icon" src="../../../../public/images/pc_icon.png"/>
    <div class="cardContent">
      <p>Equipamento</p>
      <small>200 equipamentos</small>
    </div>
  </div>
  <div class="card">
    <img class="icon" src="../../../../public/images/predio2_icon.png"/>
    <div class="cardContent">
      <p>Departamento</p>
      <small>4 departamentos</small>
    </div>
  </div>
</div>
