* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #44A1A0;
  min-height: 100vh;
  overflow: hidden;
}

.f1 {
  background-color: #499d9c;
  position: absolute;
  top: 0;
  right: 0;
  width: clamp(60vh, 110vh, 140vh);
  height: clamp(50vh, 93vh, 150vh);
  clip-path: polygon(29.794% 16.328%, 29.794% 16.328%, 25.242% 16.414%, 21.004% 15.659%, 17.095% 14.203%, 13.527% 12.188%, 10.316% 9.752%, 7.473% 7.037%, 5.013% 4.182%, 2.951% 1.328%, 1.298% -1.385%, 0.069% -3.817%, 100% -3.313%, 100% 100%, 88.839% 100%, 88.839% 100%, 79.643% 97.898%, 72.637% 94.983%, 67.585% 91.423%, 64.255% 87.386%, 62.412% 83.039%, 61.823% 78.549%, 62.253% 74.085%, 63.47% 69.813%, 65.239% 65.901%, 67.326% 62.517%, 67.326% 62.517%, 68.681% 60.078%, 70.154% 57.127%, 71.661% 53.757%, 73.115% 50.062%, 74.432% 46.137%, 75.524% 42.074%, 76.307% 37.968%, 76.695% 33.912%, 76.602% 30.001%, 75.943% 26.328%, 75.943% 26.328%, 74.196% 22.42%, 71.471% 19.431%, 67.895% 17.261%, 63.596% 15.805%, 58.702% 14.961%, 53.342% 14.627%, 47.643% 14.699%, 41.733% 15.075%, 35.741% 15.652%, 29.794% 16.328%);
  transition: all 0.5s ease-in-out;
}

.container {
  position: absolute;
  bottom: 0;
  left: 31%;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
  width: clamp(66vh, 100vh, 130vh);
  height: clamp(33vh, 50vh, 65vh);
}

.primeiro,
.segundo,
.terceiro {
  position: absolute;
  bottom: 0;
  left: 31%;
  transform: translateX(-50%);
  border-top-left-radius: 60vh;
  border-top-right-radius: 60vh;
  transition: all 0.5s ease-in-out;
}

.primeiro {
  background-color: #499D9C;
  z-index: 1;
  height: clamp(33vh, 50vh, 65vh);
  width: clamp(66vh, 100vh, 130vh);
}

.segundo {
  background-color: #46A1A0;
  z-index: 2;
  height: clamp(25vh, 40vh, 50vh);
  width: clamp(50vh, 80vh, 100vh);
}

.terceiro {
  background-color: #4CA7A6;
  z-index: 3;
  height: clamp(20vh, 32vh, 45vh);
  width: clamp(40vh, 64vh, 90vh);
}

.logo {
  width: clamp(160px, 18vw, 30vw);
  height: clamp(20vh, 22vh, 35vh);
  position: absolute;
  z-index: 4;
  top: 0.5%;
  left: 27%;
  transform: translateX(-50%);
  margin-left: -15vw;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
