<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina</title>
    <link rel="stylesheet" href="pagina-de-fundo.component.css">
</head>
<body>

    <div class="logo">
      <img src="/images/logoSIME.png" alt="Logo da SIME">
    </div>

    <div class="Forma">
      <div class="f1"></div>
    </div>

    <div class="container">
      <div class="primeiro"></div>
      <div class="segundo"></div>
      <div class="terceiro"></div>
    </div>

</body>
</html>
