* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #44A1A0;
  min-height: 100vh;
  overflow: hidden;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.f1 {
  background-color: #499d9c;
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(29.794% 16.328%, 29.794% 16.328%, 25.242% 16.414%, 21.004% 15.659%, 17.095% 14.203%, 13.527% 12.188%, 10.316% 9.752%, 7.473% 7.037%, 5.013% 4.182%, 2.951% 1.328%, 1.298% -1.385%, 0.069% -3.817%, 100% -3.313%, 100% 100%, 88.839% 100%, 88.839% 100%, 79.643% 97.898%, 72.637% 94.983%, 67.585% 91.423%, 64.255% 87.386%, 62.412% 83.039%, 61.823% 78.549%, 62.253% 74.085%, 63.47% 69.813%, 65.239% 65.901%, 67.326% 62.517%, 67.326% 62.517%, 68.681% 60.078%, 70.154% 57.127%, 71.661% 53.757%, 73.115% 50.062%, 74.432% 46.137%, 75.524% 42.074%, 76.307% 37.968%, 76.695% 33.912%, 76.602% 30.001%, 75.943% 26.328%, 75.943% 26.328%, 74.196% 22.42%, 71.471% 19.431%, 67.895% 17.261%, 63.596% 15.805%, 58.702% 14.961%, 53.342% 14.627%, 47.643% 14.699%, 41.733% 15.075%, 35.741% 15.652%, 29.794% 16.328%);
  transition: all 0.5s ease-in-out;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: none;
  transition: all 0.5s ease-in-out;
}

.primeiro,
.segundo,
.terceiro {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 60vh;
  border-top-right-radius: 60vh;
  transition: all 0.5s ease-in-out;
}

.primeiro {
  background-color: #499D9C;
  z-index: 1;
}

.segundo {
  background-color: #46A1A0;
  z-index: 2;
}

.terceiro {
  background-color: #4CA7A6;
  z-index: 3;
}

.Logo {
  position: absolute;
  z-index: 4;
  transition: all 0.5s ease-in-out;
  top: -6%;
  left: 50%;
  height: 24vh;
  width: 19vh;
  transform: translateX(-50%);
}

.Logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media screen and (min-width: 520px) {
  .f1 {
    width: 60vh;
    height: 50vh;
  }

  .container {
    width: 66vh;
    height: 33vh;
  }

  .primeiro {
    height: 33vh;
    width: 66vh;
  }

  .segundo {
    height: 25vh;
    width: 50vh;
  }

  .terceiro {
    height: 20vh;
    width: 40vh;
  }
}

@media screen and (min-width: 900px) {
  .f1 {
    width: 80vh;
    height: 70vh;
  }

  .container {
    width: 84vh;
    height: 42vh;
  }

  .primeiro {
    height: 42vh;
    width: 84vh;
  }

  .segundo {
    height: 32vh;
    width: 64vh;
  }

  .terceiro {
    height: 25vh;
    width: 50vh;
  }

  .Logo {
    top: -9%;
    left: 13%;
    height: 30vh;
    width: 25vh;
    transform: none;
  }
}

@media screen and (min-width: 1200px) {
  .f1 {
    width: 110vh;
    height: 93vh;
  }

  .container {
    width: 100vh;
    height: 50vh;
  }

  .primeiro {
    height: 50vh;
    width: 100vh;
  }

  .segundo {
    height: 40vh;
    width: 80vh;
  }

  .terceiro {
    height: 32vh;
    width: 64vh;
  }

  .Logo {
    top: -11%;
    left: 11%;
    height: 31vh;
    width: 28vh;
    transform: none;
  }
}

@media screen and (min-width: 1350px) {
  .f1 {
    width: 110vh;
    height: 92vh;
  }

  .container {
    width: 110vh;
    height: 55vh;
  }

  .primeiro {
    height: 55vh;
    width: 110vh;
  }

  .segundo {
    height: 45vh;
    width: 90vh;
  }

  .terceiro {
    height: 37vh;
    width: 74vh;
  }

  .Logo {
    top: -30%;
    left: 4%;
    height: 40vh;
    width: 38vh;
    transform: none;
  }
}