.chamado-forms {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 65px;
    width: auto;
    height: 500px;
}

.inputs {
    background-color: green;
}

.anexo {
    background-color: blue;
}