<form [formGroup]="chamadoForm" class="form-container" (ngSubmit)="onSubmit()">

    <div class="rows">
        <!-- Linha 1 -->
        <div class="form-row">
            <div class="data">
                <input type="datetime-local" formControlName="data" placeholder="Data" />
                @if (campoInvalido('data')) {
                    <small class="error-message">O campo Data é obrigatório.</small>
                }
            </div>
            
            <div class="ambiente">
                <select formControlName="ambiente">
                    <option value="">Local</option>
                    @for (ambiente of ambientes; track ambiente.idAmbiente) {
                        <option [ngValue]="ambiente">
                            {{ ambiente.nomeTipoAmbiente }} {{ ambiente.numAmbiente }}
                        </option>
                    } @empty {
                        <option [ngValue]="null" disabled>Nenhum ambiente disponível</option>
                    }
                </select>
                @if (campoInvalido('ambiente')) {
                    <small class="error-message">O campo Local é obrigatório.</small>
                }
            </div>
        </div>

        <!-- Linha 2 -->
        <div class="form-row">
            <div class="email">
                <input type="email" formControlName="email" placeholder="Email" />
                @if (campoInvalido('email')) {
                    <small class="error-message">O campo Email é obrigatório.</small>
                }
            </div>
        </div>

        <!-- Linha 3 -->
        <div class="form-row">
            <div class="tipoChamado">
                <select formControlName="tipoChamado">
                    <option value="">Tipo de Chamado</option>
                    @for (tipoChamado of tiposChamado; track tipoChamado.idTipoChamado) {
                        <option [ngValue]="tipoChamado.idTipoChamado">
                            {{ tipoChamado.nomeTipoChamado }}
                        </option>
                    } @empty {
                        <option [ngValue]="null" disabled>Nenhum tipo de chamado disponível</option>
                    }
                </select>
                @if (campoInvalido('tipoChamado')) {
                    <small class="error-message">O tipo de chamado é obrigatório.</small>
                }
            </div>
            
            <div class="problema">
                <input type="text" formControlName="problema" placeholder="Problema" />
                @if (campoInvalido('problema')) {
                    <small class="error-message">Descreva o problema.</small>
                }
            </div>
        </div>

        <!-- Linha 4 -->
        <div class="form-row">
            <div class="descricao">
                <textarea formControlName="descricao" placeholder="Descrição"></textarea>
                @if (campoInvalido('descricao')) {
                    <small class="error-message">A descrição é obrigatória.</small>
                }
            </div>
        </div>

        <!-- Linha 5 -->
        <div class="form-row">
            <div class="equipamento">
                <select formControlName="equipamento">
                    <option value="">Selecione um equipamento</option>
                    @for (equipamento of equipamentos; track equipamento.idTipoEquipamento) {
                        <option [ngValue]="equipamento">{{ equipamento.nomeTipoEquipamento }}</option>
                    } @empty {
                        <option [ngValue]="null" disabled>Nenhum equipamento disponível</option>
                    }
                </select>
                @if (campoInvalido('equipamento')) {
                    <small class="error-message">Selecione um equipamento.</small>
                }
            </div>
            
            <div class="codigoEquipamento">
                <select formControlName="codigoEquipamento">
                    <option value="">Selecione um código</option>
                    @for (codigo of codigosEquipamento; track codigo) {
                        <option [value]="codigo">{{ codigo }}</option>
                    } @empty {
                        <option [ngValue]="null" disabled>Nenhum código disponível</option>
                    }
                </select>
                @if (campoInvalido('codigoEquipamento')) {
                    <small class="error-message">Informe o código do equipamento.</small>
                }
            </div>
        </div>
    </div>

    <div class="upload">
        <!-- Upload -->
        <div class="form-upload">
            <label for="anexo" id="anexo-title">Adicionar Anexo</label>
            <div id="anexo">
                <span id="file-name">Carregar do dispositivo</span>
                <label for="fileUpload" id="upload-btn">Navegar</label>
                <input type="file" id="fileUpload" multiple (change)="onFileSelected($event)" formControlName="anexo" hidden>
            </div>
            
            <!-- Mensagem de erro -->
             @if (chamadoForm.get('anexo')?.hasError('required') && chamadoForm.get('anexo')?.touched) {
                <small class="error-message">O anexo é obrigatório.</small>
            }
        </div>

        <!-- Botão -->
        <div class="form-actions">
            <button type="submit" [disabled]="chamadoForm.invalid">Enviar</button>
        </div>

        <!-- Pré-Visualizações -->
        @if (imagensUrl[0]) {
            <button type="button" (click)="abrirModal(imagensUrl[0])">Ver Anexos</button>
        }

        @if(modalAberto) {
            <div class="modal" (click)="fecharModal($event)">

                <button class="btn-nav prev" (click)="prevImagem($event)">❮</button>

                <img class="modal-img" [src]="imagemModal" alt="Imagem ampliada">

                <button class="btn-nav next" (click)="nextImagem($event)">❯</button>

                <div class="modal-sub-previews">
                    @for (imagem of imagensUrl; let i = $index; track i) {
                        <img [src]="imagem" 
                            [class.active]="imagem === imagemModal"
                            (click)="abrirModal(imagem); $event.stopPropagation()"
                            alt="Miniatura">

                        <button class="btn-remover" (click)="removerImagemSelecionada($event)">Remover</button>
                    }
                </div>
            </div>
        }
    </div>
</form>
