.form-container {
    display: grid;
    /* grid-template-columns: auto auto; */
    gap: 1rem;
    max-width: 800px;
  }
  
  .form-row {
    display: flex;
    gap: 1rem;
  }
  
  .form-row input,
  .form-row select,
  .form-row textarea {
    flex: 1;
    padding: 0.5rem;
  }
  
  .form-upload {
    border: 1px dashed #aaa;
    padding: 1rem;
    text-align: center;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  button {
    background-color: #2e7d7d;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
}
  