#content{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin-top: clamp(3px, 4vw, 6vw);
    margin-left: clamp(3px, 1.5vw, 3.5vw);
}

#modal-codigos{
  background-color: red;
}

.linha{
  background-color: #808080;
  width: 1px;
  margin-left: clamp(20px, 4vw, 6vw);
  margin-right: clamp(10px, 3vw, 5vw);
  height: 65vh;
}

.cards-tipo-ambiente{
    margin-bottom: clamp(3px, 2vw, 4vw);
    margin-top: clamp(3px, 2vw, 4vw);
    max-height: clamp(200px, 47vh, 53vh);
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: clamp(2px, 3vw, 5vw);
}

.card-tipo-ambiente{
    display: flex;
    background-color: #EAEAEA80;
    gap: clamp(2px, 1.5vw, 3.5vw);
    border-radius: 0.5vw;
    padding: clamp(2px, 1.5vw, 3.5vw);
    margin-bottom: clamp(2px, 3vw, 5vw);
    width: clamp(2px, 27vw, 29vw);
}

.card-tipo-ambiente:hover{
    background-color: #d4efef;
    cursor: pointer;
}

.card-tipo-ambiente:focus{
    background-color: #d4efef;
}

.icon-ambiente{
    height: clamp(3px, 6vh, 8vh);
}

.text-card{
    text-wrap: nowrap;
}

.text-card p{
    font-size: 20px;
    margin-bottom: clamp(2px, 0.3vw, 2.3vw);
}

.text-card small{
    font-size: 19px;
    font-weight: 100;
}

.btn-criar{
    background-color: #44a1a0;
    color: white;
    border-color: transparent;
    border-radius: 0.6vw;
    height: clamp(3px, 6vh, 8vh);
    width: clamp(20px, 13vw, 17vw);
    font-size: clamp(10px, 1.4vw, 3.4vw);
    font-weight: 100;
    cursor: pointer;
    text-wrap: nowrap;
}

.forms-ambiente input, select{
    border-color: #999999;
    color: #999999;
    width: clamp(2px, 33.5vw, 35.5vw);
    height: clamp(2px, 6.5vh, 8.5vh);
    border-radius: 0.4vw;
    font-size: 20px;
    font-weight: 600;
    padding-left: clamp(3px, 1vw, 3vw);
    border-style: solid;
}

.forms-ambiente h2, h3{
    color: #44a1a0;
    font-weight: 600;
}

.forms-ambiente h2{
  font-size: clamp(10px, 28px, 30px);
  text-wrap: nowrap;
}

.forms-ambiente h3{
    font-size: clamp(10px, 23px, 25px);
    margin-top: clamp(2px, 0.7vw, 2.7vw);
}

.forms-novo-ambiente{
    margin-top: clamp(3px, 1.5vw, 3.5vw);
    margin-right: clamp(2px, 4vw, 6vw);
}

.forms-novo-ambiente h2{
  margin-bottom: clamp(20px, 3vw, 5vw);
}

.input-numero{
  margin-bottom: clamp(20px, 3vw, 500vw);
}

.input-desc{
  margin-bottom: clamp(30px, 3vw, 700vw);
}

.btns-forms-ambiente{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: clamp(2px, 4vw, 40vw);
    margin-left: clamp(10px, 1.5vw, 3.5vw);
}

.btns-forms-ambiente button{
    background-color: #bababa;
    border-color: transparent;
    color: white;
    border-radius: 0.3vw;
    height: clamp(20px, 5vh, 7.7vh);
    width: clamp(2px, 13vw, 15vw);
    font-size: clamp(10px, 19px, 21px);
    cursor: pointer;
    text-wrap: nowrap;
}

.btns-forms-ambiente button:hover{
    background-color: #44a1a0;
}

.btns-forms-ambiente button:focus{
    background-color: #44a1a0;
}

.btns-forms-criar{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: clamp(3px, 4vw, 7vw);
    margin-left: clamp(2px, 14.2vw, 16.2vw);
    text-wrap: nowrap;
}

.btn-cancelar{
    background-color: transparent;
    border-color: transparent;
    color: #868686;
    font-size: clamp(10px, 20px, 22px);
    cursor: pointer;
    width: clamp(2px, 10vw, 12vw);
}

.btn-concluir{
    background-color: #44a1a0;
    color: white;
    border-color: transparent;
    border-radius: 0.5vw;
    width: clamp(3px, 9vw, 11vw);
    height: clamp(4px, 5.5vh, 7.5vh);
    font-size: clamp(10px, 22px, 24px);
    cursor: pointer;
}

.btn-concluir:disabled{
    background-color: #999999;
    cursor: not-allowed;
}

.meu-botao-principal:disabled:hover {
    background-color: #999999;
}

.forms-tipo-ambiente{
    margin-top: clamp(23px, 9vw, 11vw);
}

.forms-tipo-ambiente h2{
    margin-right: clamp(2px, 13vw, 1300vw);
    margin-bottom: clamp(20px, 3.5vw, 5.5vw);
    text-wrap: nowrap;
    font-size: clamp(20px, 30px, 32px);
}

.erro-small{
  color: red;
  margin-left: clamp(2px, 0.5vw, 2.5vw);
}
