#content{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin-top: clamp(3px, 4vw, 6vw);
    margin-left: clamp(3px, 1.5vw, 3.5vw);
}

#modal-backdrop{
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}

.linha{
  background-color: #808080;
  width: 1px;
  margin-left: clamp(20px, 4vw, 6vw);
  margin-right: clamp(10px, 3vw, 5vw);
  height: 65vh;
}

.lista-cards-tipo-ambiente{
    margin-bottom: clamp(3px, 2vw, 4vw);
    margin-top: clamp(3px, 2vw, 4vw);
    max-height: clamp(200px, 47vh, 53vh);
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: clamp(2px, 3vw, 5vw);
}

.card-tipo-ambiente{
    display: flex;
    background-color: #EAEAEA80;
    gap: clamp(2px, 1.5vw, 3.5vw);
    border-radius: 0.5vw;
    padding: clamp(2px, 1.5vw, 3.5vw);
    margin-bottom: clamp(2px, 3vw, 5vw);
    width: clamp(5px, 29vw, 31vw);
}

.card-tipo-ambiente:hover{
    background-color: #d4efef;
    cursor: pointer;
}

.card-tipo-ambiente:focus{
    background-color: #d4efef;
}

.icon-ambiente{
    height: clamp(3px, 6vh, 8vh);
}

.text-card{
    text-wrap: nowrap;
}

.text-card p{
    font-size: 20px;
    margin-bottom: clamp(2px, 0.3vw, 2.3vw);
}

.text-card small{
    font-size: 19px;
    font-weight: 100;
}

.btn-criar{
    background-color: #44a1a0;
    color: white;
    border-color: transparent;
    border-radius: 0.6vw;
    height: clamp(3px, 6vh, 8vh);
    width: clamp(20px, 13vw, 17vw);
    font-size: clamp(10px, 1.4vw, 3.4vw);
    font-weight: 100;
    cursor: pointer;
    text-wrap: nowrap;
}

.forms-ambiente select{
    border-color: #999999;
    color: #999999;
    width: clamp(2px, 33.5vw, 35.5vw);
    height: clamp(2px, 6.5vh, 8.5vh);
    border-radius: 0.4vw;
    font-size: 20px;
    font-weight: 600;
    padding-left: clamp(3px, 1vw, 3vw);
    border-style: solid;
}

.inputs-forms-ambiente{
    border-color: #999999;
    color: #999999;
    width: clamp(2px, 33.5vw, 35.5vw);
    border-radius: 0.4vw;
    font-size: 20px;
    font-weight: 600;
    padding-left: clamp(3px, 1vw, 3vw);
    border-style: solid;
}

.input-tipo-ambiente{
    border-color: #999999;
    color: #999999;
    width: clamp(2px, 33.5vw, 35.5vw);
    border-radius: 0.4vw;
    font-size: 20px;
    font-weight: 600;
    padding-left: clamp(3px, 1vw, 3vw);
    border-style: solid;
}

.input-numero input{
  height: clamp(2px, 6.5vh, 8.5vh);
}

.input-desc input{
  height: clamp(2px, 6.5vh, 8.5vh);
  margin-top: clamp(20px, 3vw, 5vw);
}

.forms-ambiente h2, h3{
    color: #44a1a0;
    font-weight: 600;
}

.forms-ambiente h2{
  font-size: clamp(10px, 28px, 30px);
  text-wrap: nowrap;
}

.forms-ambiente h3{
    font-size: clamp(10px, 23px, 25px);
    margin-top: clamp(2px, 0.7vw, 2.7vw);
}

.forms-novo-ambiente{
    margin-top: clamp(3px, 1.5vw, 3.5vw);
    margin-right: clamp(2px, 4vw, 6vw);
}

.forms-novo-ambiente h2{
  margin-bottom: clamp(20px, 3vw, 5vw);
}

.btns-forms-ambiente{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: clamp(2px, 4vw, 40vw);
    margin-left: clamp(10px, 1.5vw, 3.5vw);
    margin-top: clamp(20px, 3.5vw, 5.5vw);
}

.btns-forms-ambiente button{
    background-color: #bababa;
    border-color: transparent;
    color: white;
    border-radius: 0.3vw;
    height: clamp(20px, 5vh, 7.7vh);
    width: clamp(2px, 13vw, 15vw);
    font-size: clamp(10px, 19px, 21px);
    cursor: pointer;
    text-wrap: nowrap;
}

.btns-forms-ambiente button:hover{
    background-color: #44a1a0;
}

.btns-forms-ambiente button:focus{
    background-color: #44a1a0;
}

.btns-forms-criar{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: clamp(3px, 4vw, 7vw);
    margin-left: clamp(2px, 14.2vw, 16.2vw);
    text-wrap: nowrap;
}

.btn-cancelar{
    background-color: transparent;
    border-color: transparent;
    color: #868686;
    font-size: clamp(10px, 20px, 22px);
    cursor: pointer;
    width: clamp(2px, 10vw, 12vw);
}

.btn-concluir{
    background-color: #44a1a0;
    color: white;
    border-color: transparent;
    border-radius: 0.5vw;
    width: clamp(3px, 9vw, 11vw);
    height: clamp(4px, 5.5vh, 7.5vh);
    font-size: clamp(10px, 22px, 24px);
    cursor: pointer;
}

.btn-concluir:disabled{
    background-color: #999999;
    cursor: not-allowed;
}

.meu-botao-principal:disabled:hover {
    background-color: #999999;
}

.forms-tipo-ambiente{
    margin-top: clamp(23px, 9vw, 11vw);
}

.forms-tipo-ambiente h2{
    margin-right: clamp(2px, 13vw, 1300vw);
    margin-bottom: clamp(20px, 3.5vw, 5.5vw);
    text-wrap: nowrap;
    font-size: clamp(20px, 30px, 32px);
}

.erro-small{
  color: red;
  margin-left: clamp(2px, 0.5vw, 2.5vw);
  display: block;
}

.input-tipo-ambiente{
     height: clamp(2px, 6.5vh, 8.5vh);
}

.modal-codigos{
  background-color: white;
  z-index: 101;
  width: clamp(25px, 33vw, 300vw);
  height: clamp(45px, 80vh, 85vh);
  border-radius: 15px;
  padding-top: clamp(10px, 2vw, 4vw);
  position: relative;
  margin-left: clamp(200px, 22vw, 24vw);
  display: flex;
  flex-direction: column;
}

.header-modal{
    display: flex;
    flex-direction: row;
    margin-left: clamp(2px, 1vw, 3.5vw);
    gap: clamp(5px, 15px, 17px);
}

.header-modal p{
    color: #868686;
    font-size: clamp(10px, 20px, 22px);
    font-weight: 500;
    margin-top: clamp(1px, 0.2vw, 2.2vw);
}

.icon-engrenagem{
    margin-left: clamp(5px, 1.3vw, 3.3vw);
    height: clamp(20px, 2.7vh, 4.7vh);
}

.linha-modal{
  background-color: #808080;
  height: 1px;
  margin-top: clamp(20px, 2vw, 4vw);
  width: 100%;
}

.tipos-equipamentos{
    display: flex;
    gap: clamp(20px, 1vw, 3.5vw);
    overflow-y: hidden;
    overflow-x: auto;
    max-width: clamp(20px, 29vw, 31vw);
    padding-bottom: clamp(2px, 0.6vw, 2.6vw);
    margin-top: clamp(2px, 1.5vw, 3.5vw);
    margin-left: clamp(5px, 2vw, 4vw);
    margin-right: clamp(5px, 1.7vw, 3.7vw);
}

.tipo-equipamento{
    background-color: #E4E4E4;
    border-radius: 1000px;
    height: clamp(10px, 2.5vh, 5vh);
    width: clamp(3px, 50vw, 52vw);
    cursor: pointer;
}

.tipo-equipamento:focus{
    background-color: #C9EBEB;
}

.tipo-equipamento p{
    font-size: clamp(10px, 12px, 14px);
    font-weight: 300;
    padding-top: clamp(5px, 0.2vw, 2.2vw);
    margin-left: clamp(10px, 0.7vw, 2.7vw);
    margin-right: clamp(10px, 0.7vw, 2.7vw);
    text-wrap: nowrap;
}

.modal-content{
    padding-left: clamp(5px, 2.5vw, 4.5vw);
    padding-right: clamp(5px, 2vw, 4vw);
    flex-grow: 1;
}

.modal-content h3{
    font-weight: 500;
    font-size: clamp(5px, 24px, 26px);
    margin-top: clamp(5px, 1.6vw, 3.6vw);
    margin-bottom: clamp(10px, 1.8vw, 3.8vw);
}

.lista-codigos{
    gap: clamp(10px, 2.5vw, 4.5vw);
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
    max-height: clamp(20px, 40vh, 42vh);
}

.codigo-card{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #F0F0F0;
    height: clamp(20px, 6.3vh, 8.3vh);
    margin-bottom: clamp(20px, 1vw, 3vw);
    padding: clamp(10px, 1.5vw, 2vw) clamp(5px, 2vw, 4vw);
}

.codigo-card p{
    font-size: clamp(10px, 20px, 22px);
    font-weight: 100;
    text-wrap: nowrap;
    margin-right: auto;
    padding-right: 15px;
}

.codigo-card button{
    border-color: transparent;
    width: clamp(20px, 1.2vw, 3.2vw);
    margin-top: clamp(2px, 0.2vw, 2.2vw);
    cursor: pointer;
}

.items-cod{
    display: flex;
    align-items: center;
    gap: clamp(2px, 0.9vw, 2.9vw);
}

.cod-checkbox{
  width: clamp(20px, 1.3vw, 3.3vw);
  height: clamp(20px, 1.2vh, 3.2vh);
  border: 2px solid #868686;
  cursor: pointer;
}

.footer-modal{
    margin-left: clamp(20px, 10vw, 13.5vw);
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    margin-bottom: clamp(20px, 2vw, 30vw);
}

.footer-modal button{
    width: clamp(20px, 10vw, 12vw);
    height: clamp(10px, 4.7vh, 6.7vh);
    margin-right: clamp(5px, 2vw, 50vw);
}
