<p class="voltar"><- Voltar</p>

<div id="content">
    <div class="tipo-ambiente">
        <div class="cards-tipo-ambiente">
            <div class="card-tipo-ambiente">
                <img class="icon-ambiente" src="/images/sala_icon.png">
                <div class="text-card">
                    <p>Sala</p>
                    <small>18 salas</small>
                </div>
            </div>
            <div class="card-tipo-ambiente">
                <img class="icon-ambiente" src="/images/pc_icon.png">
                <div class="text-card">
                    <p>Laboratório</p>
                    <small>8 laboratórios</small>
                </div>
            </div>
            <div class="card-tipo-ambiente">
                <img class="icon-ambiente" src="/images/livro_icon.png">
                <div class="text-card">
                    <p>Locais Comuns</p>
                    <small>5 locais comuns</small>
                </div>
            </div>
        </div>
        <button>Criar tipo de local ou Criar local</button>
    </div>
    <div class="forms-ambiente">
        <div class="forms-novo-ambiente">
            <h2>NOVA SALA</h2>
            <input type="text" placeholder="Nome Local"/>
            <input type="number" placeholder="Número"/>
            <h3>EQUIPAMENTOS</h3>
            <select class="select-tipo-equip">
                <option value="">Tipo equipamento</option>
            </select>
            <div class="btns-forms-ambiente">
                <button>Criar equipamento</button>
                <button>Selecionar códigos</button>
            </div>
        </div>
        <div class="forms-tipo-ambiente" >
            <h2>CRIAR NOVO TIPO DE LOCAL</h2>
            <input type="text" placeholder="Tipo de local"/>
        </div>
        <div class="btns-forms-criar">
            <button class="btn-cancelar">Cancelar</button>
            <button class="btn-concluir">Concluir</button>
        </div>
    </div>
</div>