<Label>
  <input type="checkbox" name="criarChamado">
  Criar chamado
</Label>

<Label>
  <input type="checkbox" name="aprovarChamado">
  Aprovar chamado
</Label>

<Label>
  <input type="checkbox" name="criarNovoPerfil">
  Criar novo perfil
</Label>

<Label>
  <input type="checkbox" name="criarNovoTipoPerfil">
  Criar novo tipo perfil
</Label>

<Label>
  <input type="checkbox" name="definirPrioridade">
  Definir prioridade
</Label>

<Label>
  <input type="checkbox" name="comentarNoChamado">
  Comentar no chamado
</Label>

<Label>
  <input type="checkbox" name="reprovarChamado">
  Reprovar chamado
</Label>

<Label>
  <input type="checkbox" name="visualizarTiposChamado">
  Visualizar todos os tipos de chamado
</Label>

<button>Salvar</button>
