<!-- Voltar -->
<button class="btn-back" (click)="voltar()">← Voltar</button>

<div class="container">

    <div class="preview"></div>

    <!-- Infos -->
    <div class="content">

        <div class="details">
            <h2>{{ chamado.titulo }}</h2>

        <!-- Barra de progresso -->
        <div class="progress">
            @for (etapa of etapas; let i = $index; track i) {
            <div class="progress-step">
                <div class="circle" [class.active]="i <= etapaAtual">
                @if (i < etapaAtual) {
                    ✔
                } @else {
                    {{ i + 1 }}
                }
                </div>
        
                <!-- Conector (linha entre os círculos) -->
                @if (i < etapas.length - 1) {
                <div class="line" [class.active]="i < etapaAtual"></div>
                }
        
                <!-- Texto abaixo do círculo -->
                <div class="label">
                <p class="title">{{ etapa.nome }}</p>
                <p class="date">{{ etapa.data }}</p>
                </div>
            </div>
            }
        </div>
            
            <div class="details-info">
                <div class="details-header">
                    <p>Descricao</p>
                    <p>Departamento</p>
                    <p>Prioridade</p>
                </div>
                <div class="details-body">
                    <div>
                        <p>{{ chamado.descricao }}</p>
                    </div>
            
                    <div>
                        <p>Informática</p>
                    </div>
            
                    <div>
                        <span   [class.alta]="chamado.prioridade === 'Alta'"
                                [class.media]="chamado.prioridade === 'Média'"
                                [class.baixa]="chamado.prioridade === 'Baixa'">
                                {{ chamado.prioridade }}
                                <img [src]="iconePrioridade[chamado.prioridade]" [alt]="chamado.prioridade" width="20" height="20" align="center" />
                        </span>
                    </div>
                </div>  
            </div>
            
            <p>Emitido 21/07/2025 - 13:20</p>
        </div>

        <!-- Botões -->
        <div class="actions">
            <button class="btn-approve" (click)="aprovar()">Aprovar</button>
            <button class="btn-reject" (click)="recusar()">Recusar</button>
        </div>

    </div>
</div>
  