*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-montserrat);
}

.chamados-local-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
}

.chamados-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(25px, 4vh, 7vh);
}

.card{
  background-color: #EEEEEE; /*#EAEAEA*/
  width: clamp(450px, 42vw, 44vw);
  height: clamp(75px, 12vh, 14vh);
  max-height: 88px;
  border-width: 10vw;
  border-radius: clamp(10px, 1vw, 3vw);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: clamp(20px, 2vw, 4vw);
}

.card-esquerda{
  display: flex;
  align-items: center;
  gap: clamp(20px, 1.6vw, 3.6vw);

}

.iconeDocumento{
  width: clamp(26px, 2vw, 4vw);
}

.chamado-info{
  display: flex;
  flex-direction: column;
  gap: clamp(5px, 0.5vw, 2.5vw);
}

.titulo-chamado{
  color: #3B8C8B;
  font-weight: var(--fw-medium);
  font-size: clamp(15px, 1.2vw, 3.2vw);
}

.data-tipo-chamado{
  font-weight: var(--fw-regular);
  color: #464646;
  font-size: clamp(12px, 0.96vw, 2.96vw);
}

.iconeSeta{
  width: clamp(23px, 2vw, 4vw);
  cursor: pointer;
}