* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-instrument-sans);
}

p{
    color: #44A1A0;
    font-weight: var(--fw-semibold);
    width: auto;
    font-size: clamp(16px, 1.5vw, 20px);
    padding-left: 1.05vw;
    padding-bottom: 1.5vw;
}

.calendario-mensal-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 colunas para os dias da semana */
    gap: 0.2vw;
    width: auto;
    /*width: 20vw;*/
}

.dia {
    padding: clamp(5px, 0.6vw, 10px);
    text-align: center;
    font-weight: var(--fw-regular);
    font-size: clamp(13px, 1.25vw, 22px);
}

.semana {
    color: #44A1A0;
    font-weight: var(--fw-semibold);
}

.dia-mes-anterior {
  color: #aaa;
  font-weight: var(--fw-regular);
}
