* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-instrument-sans);
}

p{
    color: #44A1A0;
    font-weight: var(--fw-semibold);
    width: auto;
    font-size: clamp(18px, 1.5vw, 3.5vw);
    padding-left: 1.05vw;
    padding-bottom: 1.5vw;
}

.calendario-mensal-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 colunas para os dias da semana */
    gap: clamp(4px, 0.2vw, 2.2vw);
    width: auto;
    /*width: 20vw;*/
}

.dia {
    padding: clamp(4px, 0.6vw, 2.6vw);
    text-align: center;
    font-weight: var(--fw-regular);
    font-size: clamp(15px, 1.2vw, 3.2vw);
}

.semana {
    color: #44A1A0;
    font-weight: var(--fw-semibold);
}

.dia-mes-anterior {
  color: #aaa;
  font-weight: var(--fw-regular);
}
