* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.barra-perfil{
    display: flex;
    flex-direction: row;
    padding-top: 5vh;
    padding-bottom: 2vh;
    align-items: center;
    width: auto;
    gap: 0;
}

.notificacao{
    height: 2.5vw;
    display: block;
    padding-left: 4vw;
}

p{
    font-size: 1.4vw;
    font-weight: bold;
    padding-left: 4vw;
}

.perfil{
    width: 4.5vw;
    display: block;
    margin-left: 1.2vw;
}