<div class="home-layout">
    <div class="home-content">
        <div class="filtrar">
            <p>Filtrar por:</p>
            <div class="filtrar opcoes">
                <button class="opcao" [class.ativa]="opcaoAtual === 'salas'" (click)="setOpcao('salas')">Salas</button>
                <button class="opcao" [class.ativa]="opcaoAtual === 'labs'" (click)="setOpcao('labs')">Labs</button>
                <button class="opcao" [class.ativa]="opcaoAtual === 'outros'" (click)="setOpcao('outros')">Outros</button>
                <div class="barra-de-pesquisa">
                  <input class="input-pesquisa" type="text" [(ngModel)]="localPesquisa" (ngModelChange)="filtrarLocais()" placeholder="Procurar...">
                  <div class="separacao"></div>
                  <img src="/images/lupa.png" class="lupa-img">
                </div>
            </div>
        </div>

        <div *ngIf="modoAtual === 'chamados'" class="titulo-botao-pagina-chamado">
            <p class="titulo-pagina-chamado">Chamados {{ambienteSelecionado}}</p>
            
            <div class="retornarLocais" (click)="retornarLocais()">
              <img src="/images/iconeSetaVoltar.png" class="iconeSetaVoltar">
              <p class="voltar">Voltar</p>
            </div>
        </div>
          
        <div class="cards-wrapper" [class.chamados-mode]="modoAtual === 'chamados'">

          <ng-container *ngIf="modoAtual === 'locais'">

            <div *ngIf="carregado && cards.length === 0" class="sem-dados">
              <p>Nenhum ambiente encontrado.</p>
            </div>

            <div class="locais-cards">
              <div class="card" *ngFor="let card of cards" (click)="exibirChamados(card.nome)">
                <p>{{ card.nome }}</p>
                <div class="chamados">
                  <p>{{ card.chamados }}</p>
                  <p class="text-chamado">Chamados</p>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="modoAtual === 'chamados'">
            <app-chamados-locais-cards
              [ambiente]="ambienteSelecionado!"
              [chamados]="chamadosAmbiente"
              [ambientes]="ambientes"
              [tiposChamado]="tiposChamado">
            </app-chamados-locais-cards>
          </ng-container>

        </div>

    </div>

    <div class="home-info">
        <app-calendario-mensal></app-calendario-mensal>
        <app-calendario-semanal></app-calendario-semanal>
    </div>

</div>
