*{
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

app-sidebar {
  flex-shrink: 1;
 /*display: block;*/
  /*height: 100vh;*/
}

/* Segunda parte da tela */

.home-content {
  flex: 1;
  background-color: white;
  margin-left: 4vw;
  margin-top: 7vh
}

h1{
  color:#44A1A0;
  margin-bottom: 3vw;
  font-size: 2.5vw;
}

.filtrar{
  display: flex;
  align-items: center;
  gap: 5vw;
  flex-wrap: wrap; /* permite que os itens quebrem para a próxima linha */
}

.filtrar > p { /* estiliza apenas o parágrafo filho direto de "filtrar"*/
  font-weight: bold;
  font-size: 1.25vw;
}

.filtrar.opcoes{
  display: flex;
  gap: 1.5vw;
  flex-wrap: wrap; /* permite que os cards quebrem linha */
}

.opcao {
  padding: 0.35vw 2vw;
  background-color: #EEEEEE;
  color: black;
  font-size: 1vw;
  font-weight: bold;
  border-radius: 2vw;
  border: 0;
  cursor: pointer;
  user-select: none; /* Não peemite a seleção da palavra, útil para botões */
  transition: background-color 0.3s ease;
}

.opcao:hover {
  background-color: #3a8c8b;
  color: white;
}

/* Terceira parte da tela */

.home-info{
  flex-shrink: 1; /* 0 não encolhe, 1 encolhe para caber*/
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
  padding-right: 1.5vw;
}