*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

/* Segunda parte da tela */

.home-content {
  background-color: white;
  margin-right: clamp(90px, 30vw, 200px); /* Vou alterar quando criar os cards */
}

h1{
  color:#44A1A0;
  margin-bottom: 3vw;
  font-size: 2.5vw;
}

.filtrar{
  font-family: var(--font-instrument-sans);
  display: flex;
  align-items: center;
  gap: 5vw;
  flex-wrap: wrap; /* permite que os itens quebrem para a próxima linha */
}

.filtrar > p { /* estiliza apenas o parágrafo filho direto de "filtrar"*/
  font-size: clamp(13px, 1.25vw, 20px);
  font-weight: var(--fw-medium);
}

.filtrar.opcoes{
  display: flex;
  gap: 1.5vw;
  flex-wrap: wrap; /* permite que os cards quebrem linha */
}

.opcao {
  font-weight: var(--fw-semibold);
  padding: 0.35vw 2vw;
  background-color: #EEEEEE;
  color: black;
  font-size: clamp(12px, 1vw, 20px);
  border-radius: 2vw;
  border: 0;
  cursor: pointer;
  user-select: none; /* Não permite a seleção da palavra, útil para botões */
  transition: background-color 0.3s ease;
}

.opcao:hover {
  background-color: #3a8c8b;
  color: white;
}

/* Terceira parte da tela */

.home-info{
  flex-shrink: 1; /* 0 não encolhe, 1 encolhe para caber*/
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
  padding-right: 1.5vw;
}