<div class="home-layout">
    <div class="home-content">
        <div class="filtrar">
            <p>Filtrar por:</p>
            <div class="filtrar opcoes">
                <button class="opcao">Salas</button>
                <button class="opcao">Labs</button>
                <button class="opcao">Outros</button>
            </div>
        </div>
    <!-- Criar aqui -->
    <!-- <div class="teste"></div> -->
        <div class="locais-cards">
          <div clas="card">
            <h2>Sala 1</h2>
            <div class="chamados">
              <Label>01</Label>
              <p>Chamadas</p>
            </div>
          </div>
          <div clas="card">
            <h2>Sala 2</h2>
            <div class="chamados">

            </div>
          </div>
          <div clas="card">
            <h2>Sala 3</h2>
            <div class="chamados">

            </div>
          </div>
          <div clas="card">
            <h2>Sala 4</h2>
            <div class="chamados">

            </div>
          </div>
        </div>

    </div>

    <div class="home-info">
        <app-calendario-mensal></app-calendario-mensal>
        <app-calendario-semanal></app-calendario-semanal>
    </div>

</div>
