* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    background-color: #44A1A0;
    height: 100vh; /* ou 100% ?*/
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.logo{
    width: clamp(160px, 13vw, 15vw);
    align-self: center;
    /*display: block;
    margin: 0 auto;*/
    padding-top: 7vh;
    padding-bottom: 4vh;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: clamp(30px, 4vh, 6vh);
    padding-top: clamp(10px, 1.5vh, 3.5vh);
}

.home, .pendentes, .concluidos, .criar {
    display: flex;
    align-items: center;
    gap: clamp(12px, 1vw, 3vw);
    padding-left: clamp(35px, 1vw, 3vw);
    /*padding-top: clamp(15px, 1vh, 25px);*/
}

.iconeHome, .iconePendentes, .iconeConcluidos, .iconeCriar {
    width: clamp(22px, 1.7vw, 3.7vw);
}

p{
    font-family: var(--font-plus-jakarta-sans);
    font-weight: var(--fw-medium);
    color: white;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    font-size: clamp(16px, 1.3vw, 3.3vw); /* mínimo, normal, máximo */
}

.buttonCriar{
    font-family: var(--font-instrument-sans);
    font-weight: var(--fw-semibold);
    font-size: clamp(16px, 1.3vw, 3.3vw);
    background-color: white;
    width: clamp(145px, 12vw, 14vw);
    height: clamp(20px ,6.5vh, 8.5vh);
    border-radius: clamp(8px, 0.8vw, 2.8vw);
    border: none;
    color: #44A1A0;
    margin-top: clamp(180px, 29vh, 30vh);
    align-self: center;
}