* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.sidebar{
    background-color: #44A1A0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 2vh, 4vh);
}

.logo{
    width: clamp(160px, 13vw, 15vw);
    align-self: center;
    /*display: block;
    margin: 0 auto;*/
    padding-top: clamp(40px, 6vh, 7vh);
    padding-bottom: clamp(40px, 3vh, 5vh);
}

.menu{
    display: flex;
    flex-direction: column;
    gap: clamp(25px, 4vh, 6vh);
    padding-bottom: clamp(40px, 3vh, 5vh);
}

.home, .pendentes, .concluidos, .criar {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: clamp(12px, 1vw, 3vw);
    padding-left: clamp(35px, 1vw, 3vw);
}

.active {
  position: relative;
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: clamp(8px, 0.6vw, 2.6vw);
  background: white;
  border-top-right-radius: clamp(5px, 0.4vw, 2.4vw);
  border-bottom-right-radius: clamp(5px, 0.4vw, 2.4vw);
}

.iconeHome, .iconePendentes, .iconeConcluidos, .iconeCriar {
    width: clamp(22px, 1.7vw, 3.7vw);
}

p{
    user-select: none;
    font-family: var(--font-plus-jakarta-sans);
    font-weight: var(--fw-medium);
    color: white;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    font-size: clamp(16px, 1.3vw, 3.3vw); /* mínimo, normal, máximo */
    cursor: pointer;
}

.buttonCriar{
    font-family: var(--font-instrument-sans);
    font-weight: var(--fw-semibold);
    font-size: clamp(16px, 1.3vw, 3.3vw);
    background-color: white;
    width: clamp(160px, 12vw, 14vw);
    height: clamp(40px, 6.8vh, 8.8vh);
    max-height: 50px; /* Pode alterar se for necessário*/
    min-height: 40px;
    border-radius: clamp(10px, 0.7vw, 2.7vw);
    border: none;
    color: #44A1A0;
    align-self: center;
    margin-top: auto;
    margin-bottom: clamp(50px, 8vh, 10vh);
    cursor: pointer;
}
