<div class="sidebar">
    <img class="logo" src="/images/logoSIME.png">

    <div class="menu">
        <div class="home">
            <img class="iconeHome" src="/images/iconeHome.png">
            <a [routerLink]="['/layout/home']">Home</a>
        </div>

        <div class="pendentes">
            <img class="iconePendentes" src="/images/iconePendentes.png">
            <a [routerLink]="['/layout/chamados-pendentes']">Pendentes</a>
        </div>
        
        <div class="concluidos">
            <img class="iconeConcluidos" src="/images/iconeConcluidos.png">
            <a [routerLink]="['/layout/chamados-concluidos']">Concluídos</a>
        </div>

        <div class="criar">
            <img class="iconeCriar" src="/images/iconeCriar.png">
            <a [routerLink]="['/layout/criar']">Criar</a>
        </div>
    </div>

    <button class="buttonCriar" [routerLink]="['/layout/criar-chamado']">Criar Chamado</button>
</div>