<div class="sidebar">
    <img class="logo" src="/images/logoSIME.png">

    <div class="menu">
        <div class="home">
            <img class="iconeHome" src="/images/iconeHome.png">
            <p>Home</p>
        </div>

        <div class="pendentes">
            <img class="iconePendentes" src="/images/iconePendentes.png">
            <p>Pendentes</p>
        </div>

        <div class="concluidos">
            <img class="iconeConcluidos" src="/images/iconeConcluidos.png">
            <p>Concluídos</p>
        </div>

        <div class="criar">
            <img class="iconeCriar" src="/images/iconeCriar.png">
            <p>Criar</p>
        </div>
    </div>

    <button class="buttonCriar">Criar Chamado</button>
</div>
