@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    background-color: #44A1A0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
    gap: 2vh;
}

.logo{
    width: 12rem;
    align-self: center;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.home, .pendentes, .concluidos, .criar {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    padding: 1vh 3vw;
}

.iconeHome, .iconePendentes, .iconeConcluidos, .iconeCriar {
    width: 1.8rem;
}

p{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
    flex-grow: 1;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.buttonCriar{
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: white;
    width: 12rem;
    height: 4rem;
    border-radius: 0.8rem;
    border: none;
    color: #44A1A0;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10rem;
    align-self: center;
}