.btn-card {
  font-family: var(--font-instrument-sans);
  font-weight: var(--fw-semibold);

  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 16px 20px 20px 20px;
  gap: 15px;

  border: 1px solid rgba(0, 0, 0, 0.27);
  border-radius: 0.8rem;
  background-color: #fff;

  text-align: justify;
  text-wrap: nowrap;
  cursor: pointer;
  transition: 0.3s;
}

.btn-card:hover {
  background-color: rgba(199, 234, 234, 0.5); /* hover no botão inteiro */
}

.card-subtitle {
  display: flex;
  justify-content: space-between;
  font-weight: var(--fw-regular);
  font-size: clamp(8px, 0.8vw, 16px);
}

#card-title {
  font-size: clamp(10px, 1.2vw, 24px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-link {
  text-decoration: none;
  color: inherit;
}
