#btn-back {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background: none;
  color: #666;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: var(--font-montserrat);
  font-weight: var(--fw-semibold);
  transition: transform 0.2s ease, background 0.2s ease;
}

#btn-back:hover { transform: translateX(-5%); color: #444; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.perfil-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

.perfil-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
  /*max-height: 350px;*/
  overflow-y: auto;
  padding-right: 6px;

}

.perfil-list::-webkit-scrollbar {
  width: 8px;
}

.perfil-list::-webkit-scrollbar-thumb {
  background-color: #9b9b9b;
  border-radius: 4px;
}

.perfil-list::-webkit-scrollbar-track {
  background-color: #7c7c7c;
}

.perfil-item {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 12px;
  align-content: center;
  cursor: pointer;
  box-shadow: none;
  transition: background 0.15s ease, transform 0.12s ease;
  border-radius: 10px;
}

.perfil-item:hover { background: #C9EBEB; }
.perfil-item.selected { background: #e6fbf8; box-shadow: 0 1px 0 rgba(0,0,0,0.04); }

.perfil-btn { 
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 22px 180px 24px 24px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: start;
}

.perfil-avatar { 
  width: 50px;
  height: 50px;
}

.perfil-text { display: flex; flex-direction: column; gap: 15px; }
.perfil-text #nome { font-size: 24px; font-weight: var(--fw-semibold); }
.perfil-text #count { font-size: 24px; font-weight: var(--fw-regular); }

.btn-create { 
  margin-top: 67px;
  background: #0aa89a;
  color: #fff; border: none;
  padding: 15px 45px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  font-family: var(--font-montserrat);
  font-weight: var(--fw-regular);
  align-self: flex-start;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 35px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.modal-header {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 31px;
  font-weight: 600;
  color: #333;
}

.modal-header .row {
  display: flex;
  gap: 8px;
  padding: 33px 0px 0px 34px;
}

.modal-divider {
  height: 1px;
  width: 100%;
  background: #B7B7B7
}

.modal-header h3 { font-weight: var(--fw-medium); color: #868686; font-size: 19px; }
.modal-header img { width: 24px; height: 24px; }

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 0px 53px 44px 39px;
  gap: 45px;
}

.modal-subtitle {
  font-size: 20px;
  color: #44A1A0;
  font-weight: var(--fw-medium);
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.modal-input {
  display: flex;
  gap: 15px;
  border-radius: 5px;
  border: 1px solid #868686;
  padding: 15px 14px 17px 23px;
}

.modal-input img { width: 19px; height: 19px; }

.modal-form input,
.modal-form select {
  width: 100%;
  font-size: 16px;
  font-weight: var(--fw-medium);
  border: none;
  outline: none;
  border-radius: 5px;
  color: #868686;
}

.modal-form select {
  padding-right: 70px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

.select-wrapper::after {
  content: url('/images/selectPointerIcon.svg');
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #555;
  pointer-events: none;
}

.modal-actions {
  display: flex;
  margin-top: 16px;
  gap: 26px;
  justify-content: flex-end;
}

.btn-cancelar {
  background: none;
  border: none;
  color: #868686;
  font-size: 16px;
  cursor: pointer;
  font-family: var(--font-montserrat);
  font-weight: var(--fw-medium);
}

.btn-criar {
  display: flex;
  align-items: center;
  gap: 19px;
  border: none;
  background-color: #44A1A0;
  color: #fff;
  padding: 11px 35px 11px 24px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: var(--font-montserrat);
  font-weight: var(--fw-medium);
}

.btn-criar img {
  width: 19px;
  height: 19px;
}

.permissoes-container {
  display: flex;
  gap: 39px;
}

.divider { 
  width: 1px;
  height: 90%;
  background: rgba(0,0,0,0.5);
}

.permissoes-panel {
  display: flex;
  gap: 16px;
}

.permissoes-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.permissoes-form h2 {
  font-size: 32px;
  font-weight: var(--fw-semibold);
  color: #44A1A0;
  margin-bottom: 27px;
}

.perm-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* max-height: 90%; */
  overflow-y: auto;
  padding-right: 6px;
}

.perm-list::-webkit-scrollbar {
  width: 8px;
}

.perm-list::-webkit-scrollbar-thumb {
  background-color: #9b9b9b;
  border-radius: 4px;
}

.perm-list::-webkit-scrollbar-track {
  background-color: #7c7c7c;
}

.perm-item { 
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: var(--fw-regular);
  font-size: 24px;
  gap: 20px;
}

.perm-item input[type='checkbox'] { 
  appearance: none; width: 18px;
  height: 28px;
  width: 28px;
  border-radius: 2px;
  border: 1.5px solid black;
  display: grid;
  justify-content: center;
  align-items: center;
}

.perm-item input[type='checkbox']:checked::after {
  content: url('/images/check.svg');
  color: black;
  width: 19px;
  height: 19px;
  text-align: center;
}

.panel-actions {
  display: flex;
  justify-content: flex-end;
  justify-self: end;
}

.btn-save { 
  background: #0aa89a;
  color: #fff; 
  border: none;
  padding: 15px 45px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  font-family: var(--font-montserrat);
  font-weight: var(--fw-medium);
}