<div class="cardContext ">
  <button>
    <div class="image">
      <img src="/images/Group.svg">
      <div class="cardText">
        <p>Usuário</p>
        <p>2 permissões</p>
      </div>
    </div>
  </button>
  <br>

  <button>
    <div class="image">
      <img src="/images/Group.svg">
      <div class="cardText">
        <p>Gestor Geral</p>
        <p>7 permissões</p>
      </div>
    </div>
  </button>
  <br>

  <button>
    <div class="image">
      <img src="/images/Group.svg">
      <div class="cardText">
        <p>Administrador</p>
        <p>9 permissões</p>
      </div>
    </div>
  </button>
  <br>
</div>
<!-- ver código de criar ambiente para terminar e melhorar o código atual -->
