<div>
  <div class="cardPerfil">
    @for (tipoPerfil of tipoPerfil; track [idTipoPerfil]; let index = $index) {
      <div class="cardPerfil" tabindex="0">
        <img src="/images/Group.svg">
        <div class="cardText">
          <p>{{tipoPerfil.nomeTipoPerfil}}</p>
          <p>"permissões"</p>
        </div>
      </div>
    }
  </div>

  <button class="btn-criar"></button>

  <div class="tablePermissoes"></div>
</div>
<!-- ver código de criar ambiente para terminar e melhorar o código atual -->
