@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  background-color: #44A1A0;
 }

 h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-family: "Montserrat";
  font-size: 8vh;
}