@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #44A1A0;
  position: relative; /* Fundamental para o posicionamento absoluto */
  min-height: 100vh;
  overflow: hidden; /* Previne barras de rolagem indesejadas */
}

/* Imagem no canto superior direito */
.forma {
  position: absolute;
  top: 0;
  right: 0;
  width: 110vh; /* Ajuste o tamanho*/
  height: auto;
  z-index: 1;
}

/* Imagem no canto inferior esquerdo
.circulo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120vh; - Ajuste conforme necessário
  height: auto;
  z-index: 1;
}*/

.container {
 display: flex;
 justify-content: center; /* Alinha horizontalmente */
}

.primeiro{
  background-color: #499D9C;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-left-radius: 60vh;
  border-top-right-radius: 60vh;
  height: 60vh;
  width: 110vh;
  z-index: 1;
}

.segundo{
  background-color: #46A1A0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-left-radius: 60vh;
  border-top-right-radius: 60vh;
  height: 55vh;
  width: 100vh;
  z-index: 2;
}

.terceiro{
  background-color: #4CA7A6;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-left-radius: 60vh;
  border-top-right-radius: 60vh;
  height: 50vh;
  width: 90vh;
  z-index: 3;
}

h1 {
  position: absolute;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 450;
  font-size: 7vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Garante que o texto fique acima das imagens */
  white-space: nowrap; /* Evita quebra de linha */
}
