<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperação de Senha</title>
  <!--Conexão com o css-->
  <link rel="stylesheet" href="recuperar-senha.component.css">
</head>
<body>
  <!--Forma que fica no cnato direito superior formatro curvilhado-->
  <img class="forma" src="/images/forma.jpg" alt="Elemento decorativo">
  <!--Forma na parte esqueda embaixo fromato circular-->
  <img class="circulo" src="/images/Circulos.jpg" alt="Padrão circular decorativo">
  <!--titulo-->
  <h1>Recuperar senha</h1>
</body>
</html>
