
<!--

<div class="content-box">
  <div class="card-post">
    <form [formGroup]="formCadastrarUsuario">
        <input placeholder="NOME" formControlName="nomeUsuario">

      @if(formCadastrarUsuario.get('nomeUsuario')?.touched && formCadastrarUsuario.get('nomeUsuario')?.invalid){
        <div>
          @if (formCadastrarUsuario.get('nomeUsuario')?.errors?.['required']) {
            <small>NOME é obrigatório!</small>
          }
        </div>
      }

        <input placeholder="RM" formControlName="rmUsuario">

        @if(formCadastrarUsuario.get('rmUsuario')?.touched && formCadastrarUsuario.get('rmUsuario')?.invalid){
        <div>
          @if (formCadastrarUsuario.get('rmUsuario')?.errors?.['required']) {
            <small>RM é obrigatório!</small>
          }
        </div>
      }

        <input placeholder="CPF" formControlName="cpfUsuario">

        @if(formCadastrarUsuario.get('cpfUsuario')?.touched && formCadastrarUsuario.get('cpfUsuario')?.invalid){
        <div>
          @if (formCadastrarUsuario.get('cpfUsuario')?.errors?.['required']) {
            <small>CPF é obrigatório!</small>
          }
        </div>
      }

        <input placeholder="EMAIL" formControlName="emailUsuario">

        @if(formCadastrarUsuario.get('emailUsuario')?.touched && formCadastrarUsuario.get('emailUsuario')?.invalid){
        <div>
          @if (formCadastrarUsuario.get('emailUsuario')?.errors?.['required']) {
            <small>EMAIL é obrigatório!</small>
          }
        </div>
      }

        <input placeholder="TELEFONE" formControlName="telefoneUsuario">

        @if(formCadastrarUsuario.get('telefoneUsuario')?.touched && formCadastrarUsuario.get('telefoneUsuario')?.invalid){
        <div>
          @if (formCadastrarUsuario.get('telefoneUsuario')?.errors?.['required']) {
            <small>TELEFONE é obrigatório!</small>
          }
        </div>
      }

        <input type="password" placeholder="SENHA" formControlName="senhaUsuario">

        @if(formCadastrarUsuario.get('senhaUsuario')?.touched && formCadastrarUsuario.get('senhaUsuario')?.invalid){
        <div>
          @if (formCadastrarUsuario.get('senhaUsuario')?.errors?.['required']) {
            <small>SENHA é obrigatório!</small>
          }
        </div>
      }

      <div>
        <button (click)="onCadastrarUsuario()">Concluir</button>
      </div>
    </form>
  </div>
</div>

-->


<div class="cadastro-layout">

  <div class="back-link">
    <img  width="25px" src="/images/iconeSeta.png" alt="">
    <a href="">Voltar</a>
  </div>

  <form [formGroup]="formCadastrarUsuario">
  <div class="input-container">

  <div class="input-side">

    <div class="input-icon">
      <img src="/images/iconeUser.png" width="20px">
      <input type="text" placeholder="Nome" formControlName="nomeUsuario">
    </div>

    @if(formCadastrarUsuario.get('nomeUsuario')?.touched && formCadastrarUsuario.get('nomeUsuario')?.invalid){
        <div>
          @if (formCadastrarUsuario.get('nomeUsuario')?.errors?.['required']) {
            <small>NOME é obrigatório!</small>
          }
        </div>
      }

    <div class="input-icon">
      <img class="icone-RM" src="/images/icone_RM.png" width="45px">
      <input type="text" placeholder="RM" formControlName="rmUsuario">
    </div>

    <div class="input-icon">
      <img src="/images/Icone_TipoPerfil.png" width="20px">
      <input type="text" placeholder="Tipo de perfil" formControlName="tipoPerfil">
      <img width="20px" src="/images/icone_TipoPerfis.png" alt="">
      <select id="perfil" formControlName="tipoPerfil" (change)="loadSelectTipoPerfil()">
          @for (tipoPerfil of tiposPerfil; track tipoPerfil.idTipoPerfil) {
            <option [ngValue]="tipoPerfil">{{ tipoPerfil.nomeTipoPerfil }}</option>
          }
        </select>
    </div>

  </div>

  <div class="input-side">

    <div class="input-icon">
      <img src="/images/icone_Email.png" width="20px">
      <input type="text" placeholder="Email" formControlName="emailUsuario">
    </div>

    <div class="input-icon">
      <img src="/images/icone_CPF.png" width="20px">
      <input type="text" placeholder="CPF" formControlName="cpfUsuario">
    </div>

    <div class="input-icon">
      <img src="/images/icone_Senha.png" width="30px">
      <input type="password" placeholder="Senha" formControlName="senhaUsuario">
      <img
          src="{{ showPassword ? 'images/iconeOlhoAberto.png' : 'images/iconeOlhoFechado.png' }}"
          class="input-eye"
          (click)="showPassword = !showPassword"
          alt="Mostrar/Esconder senha">
    </div>

  </div>

</div>
</form>

<div class="button-container">
  <a href="">Cancelar</a>
  <button (click)="onCadastrarUsuario()">Concluir</button>

</div>

</div>












